<!-- Contenido Sobre Nosotros -->
<div class="body">
  <div class="conten_inputs">

    <div class="banner">
      <div class="obj-img">
        <img class="img-banner" src="../../../../assets/images/index-img/banner-about-us.jpeg" alt="">
      </div>
    </div>

    <div class="content-title">
      <h1 class="title">O'limpusGym</h1>
    </div>

    <p class="parrafo-about">O'limpusGym llegó a Tlaxcala en el 2022 y fue creado con el proposito
      de entregar fitness de alta calidad para todos.<br>
      En un ambiente cómodo y sin presiones.
    </p>

    <div class="us">
      <h2 class="subtitle">¿Quienes somos?</h2>
      <div class="cards">
        <div class="items">
          <p class="">Facilidades</p>
          <img class="img-cards" style="width: 20% !important; height: auto !important; display: inline" src="../../../../assets/images/index-img/icons-verificar.png" alt="">
          <p>Transformamos lo complicado en simple. Pensando en tu comodidad, contamos con diferentes servicios
            online, como inscripción, transferencia de unidad, etc. Así como entrenamientos pensados para que
            los realices de forma autonoma.
          </p>
        </div>

        <div class="items">
          <p class="">Presencia</p>
          <img class="img-cards" style="width: 20% !important; height: auto !important; display: inline" src="../../../../assets/images/index-img/icons-marcador.png" alt="">
          <p>Entran cuando quieras y donde quieras. Queremos que siempre exista un O'limpus Gym cerca de ti.
            Contamos con una sucursal en Tenancingo y otra en Covadonga.
          </p>
        </div>

        <div class="items">
          <p class="">Accesibilidad</p>
          <img class="img-cards" style="width: 20% !important; height: auto !important; display: inline" src="../../../../assets/images/index-img/icons-fit.png" alt="">
          <p>Nuestra misión es entregar fitness de alta calidad, haciendola accesible para todos. Es por eso
            que todos nuestros gimnasios cuentan con la tecnología e instalaciones adecuadas para satisfacer
            las necesidades de nuestros usuarios.
          </p>
        </div>
      </div>
    </div>

    <p class="contamos">Todos los gimnasios cuentan con equipos de alta calidad y tecnología, diselados para mejorar tu
      rendimiento y seguridad.
    </p>

    <div>
      <img class="about-us" src="../../../../assets/images/index-img/about-us.jpeg" alt="">
    </div>

    <div class="btn-about-title">
      <button class="btn">INSCRIBIRME AHORA</button>
    </div>


  </div>
</div>


<!-- <div class="bgimg-1">
</div> -->
