<div class="body">
  <div class="conten_inputs">
    <h1>Entrenamiento</h1>
  </div>
</div>

<div class="slide">
  <div class="slide-inner">
      <input class="slide-open" type="radio" id="slide-1"
            name="slide" aria-hidden="true" hidden="" checked="checked">
      <div class="slide-item">
          <img src="../../../../assets/images/index-img/carrusel5.jpg">
      </div>
      <input class="slide-open" type="radio" id="slide-2"
            name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
          <img src="../../../../assets/images/index-img/carrusel8.jpg">
      </div>
      <input class="slide-open" type="radio" id="slide-3"
            name="slide" aria-hidden="true" hidden="">
      <div class="slide-item">
          <img src="../../../../assets/images/index-img/carrusel10.jpg">
      </div>
      <label for="slide-3" class="slide-control prev control-1">‹</label>
      <label for="slide-2" class="slide-control next control-1">›</label>
      <label for="slide-1" class="slide-control prev control-2">‹</label>
      <label for="slide-3" class="slide-control next control-2">›</label>
      <label for="slide-2" class="slide-control prev control-3">‹</label>
      <label for="slide-1" class="slide-control next control-3">›</label>
      <ol class="slide-indicador">
          <li>
              <label for="slide-1" class="slide-circulo">•</label>
          </li>
          <li>
              <label for="slide-2" class="slide-circulo">•</label>
          </li>
          <li>
              <label for="slide-3" class="slide-circulo">•</label>
          </li>
      </ol>
  </div>
</div>


<div class="btn-about-title">
  <button type="button" class="btn">Ver más</button>
</div>


<!-- -->
<!--
<div class="carrousel">
  <div class="conteCarrousel">
      <div class="itemCarrousel" id="itemCarrousel-1">
          <div class="itemCarrouselTarjeta">
            <img src="../../../../assets/images/index-img/banner-about-us.jpeg" alt="">
          </div>
          <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-3">
                  <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-2">
                  <i class="fas fa-chevron-right"></i>
              </a>
          </div>
      </div>
      <div class="itemCarrousel" id="itemCarrousel-2">
          <div class="itemCarrouselTarjeta">B</div>
          <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-1">
                  <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-3">
                  <i class="fas fa-chevron-right"></i>
              </a>
          </div>
      </div>
      <div class="itemCarrousel" id="itemCarrousel-3">
          <div class="itemCarrouselTarjeta">C</div>
          <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-2">
                  <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-1">
                  <i class="fas fa-chevron-right"></i>
              </a>
          </div>
      </div>
  </div>
  <div class="conteCarrouselController">
      <a href="#itemCarrousel-1">•</a>
      <a href="#itemCarrousel-2">•</a>
      <a href="#itemCarrousel-3">•</a>
  </div>
</div> -->
