<!-- COMPONENTE HEADER -->
<!-- <app-header></app-header> -->

<!-- Contenido asistencia -->
<div class="body">
  <div class="conten_inputs">
    <h1>Asistencia</h1>
    <select class="select-asistence" name="" id="">
      <option value="">Todos</option>
      <option value="">Empleados</option>
      <option value="">Usuarios</option>
    </select>

    <div class="show-mobile">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="usuarios" width="100%" cellspacing="0">
            <tr>
              <th>ID Usuario</th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Hora de entrada</th>
              <th>Hora de salida</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="btn-asistence">
      <button class="btn" mat-raised-button style="background: #FFA107; color: black;">
        <p class="txt_btn_footer">Editar</p>
      </button>
      <button class="btn" mat-raised-button style="background: #FFA107; color: black;">
        <p class="txt_btn_footer">Generar Reporte</p>
      </button>
    </div>

  </div>
</div>

<!-- COMPONENTE FOOTER -->
<!-- <app-footer></app-footer> -->
