
<!--Footer -->
<div class="content_footer">
    <footer>
        <div class="grid_fp">
            <div class="grid_fh1">
                <img class="logo_f" src="../../../../assets/images/index-img/logo.jpeg">
                <p class="txt_footer">Derechos reservados 2023</p>
            </div>
            <div class="grid_fh2">
                <p class="titles_footer">Condiciones de uso</p>
                <p class="txt_footer">Aviso legal</p>
                <p class="txt_footer">Política de privacidad</p>
            </div>
            <div class="grid_fh3">
                <p class="titles_footer">Preguntas frecuentes</p>
                <p class="txt_footer">Centro de ayuda</p>
            </div>
            <div class="grid_fh4">
                <p class="titles_footer">Tienda en linea</p>
                <p class="txt_footer">Formas de pago</p>
                <p class="txt_footer">Tiempos de entrega</p>
            </div>
            <div class="grid_fh5">
                <p class="txt_footer">Siguenos en nuestras redes</p>
                <button mat-mini-fab color="primary" class="btn_follow">
                   <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                </button>
                 <button mat-mini-fab color="warn" class="btn_follow">
                   <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                 </button>
                 <button mat-mini-fab style="background: #00acee;" class="btn_follow">
                   <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                </button>
            </div>
        </div>
        
    </footer>
</div>
