/**porpiedades footer --------------------------------------------- **/
/**propiedades footer logo**/
.logo_f {
    width: 50%;
}

/**propiedades grid footer**/
.grid_fp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/**propiedades footer grid #1 img**/
.grid_fh1 {
    padding-top: 15px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/**propiedades textos footer**/
.txt_footer {
    color: white;
}

/**propiedades titulos textos footer**/
.titles_footer {
    text-decoration: underline;
    color: white;
}

/**propiedades btn redes sociales **/
.btn_follow {
    margin: 10px;
}

/**propiedades footer**/
footer {
    background-color: #434343;
    height: 139px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

  /**propiedades de los iconos google y facebook**/
fa-icon {
    font-size: x-large;
}

/**PROPIEDADES BODY CONTENDOR**/

