<!--COMPONENTE HEADER-->
<app-header></app-header>

<!--CONTENDIO PAGINA RECUPERAR CONTRASEÑA-->
<div class="body">
    <div class="content_form">
        <h1>Recuperar contraseña</h1>
        <h4>Ingresa tu correo electronico</h4>
        <form [formGroup]="form" (ngSubmit)="enviar()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input type="text" matInput placeholder="Correo" autocomplete="off" autofocus="" formControlName="email">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                  </mat-form-field>
            </p>
            <button type="submit" class="btn_int" mat-raised-button style="background: #FD9727; color: white;" [disabled]="form.invalid">
                <p class="text_btn">Enviar</p></button>
        </form>
    </div>
</div>

<!--COMPONENTE FOOTER-->
<app-footer></app-footer>
