

.icono-usuario-container {
  display: inline-block;
  position: absolute;
  font-size: x-large;
  text-align:center;
  top: 20%;
  left: 30px;
}

.material-icons {
  font-size: 100px;  /* Ajusta el tamaño del ícono */
  color: #555;     /* Ajusta el color del ícono */
}

.body {
  margin: 0 7em;
  height: 90%;
  width: 90%;
}
.nombre {
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-top: 30px;

}

.barra-ejercicios {
  background-color: #DF7E54;
  border-radius: 10px;  /* Esquinas redondeadas */
  padding: 10px 20px;  /* Espaciado interno para darle altura y espacio al texto */
  text-align: center;  /* Alinear texto al centro */
  color: white;  /* Color del texto */
  font-weight: bold;  /* Texto en negrita */
  width: 100%;  /* Ocupar todo el ancho disponible */
  box-sizing: border-box;  /* Asegurar que el padding no aumente el tamaño total */
  margin: 20px 0;  /* Espaciado externo */
}

.comboOpciones{

  background: color #f9A640; ;
}