<!-- COMPONENTE HEADER -->
<app-header></app-header>

<!-- Contenido entrenamientos -->
<div class="body">
  <div class="conten_inputs">
    <h1>Rutina de pierna.</h1>

    <div class="btn-asistence-title">
      <a href="#cuadriceps">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff;">
          <p class="txt_btn_footer">Cuadriceps</p>
        </button>
      </a>
      <a href="#femoral">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff;">
          <p class="txt_btn_footer">Femoral</p>
        </button>
      </a>
      <a href="#tibial">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff;">
          <p class="txt_btn_footer">Tibial anterior</p>
        </button>
      </a>
      <a href="#pantorrilla">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff;">
          <p class="txt_btn_footer">Pantorrilla</p>
        </button>
      </a>
      <a href="#gluteos">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff;">
          <p class="txt_btn_footer">Gluteo</p>
        </button>
      </a>
    </div>

    <p class="parrafo-entrenamientoD">El entrenamiento de pierna es clave para transformar el cuerpo, ya sea para perder grasa o para ganar volumen.
      Un entrenamiento enfocado en el tren inferior significa que más de la mitad de tu cuerpo va a estar trabajando durante ese entrenamiento</p>

      <img src="../../../../assets/images/index-img/infografiaTrenInferior.jpg" alt="">

      <div class="btn-asistence" id="cuadriceps">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff; width: 90%; margin-top: 50px;">
          <p class="txt_btn_footer">Extensión de cuadríceps</p>
        </button>
      </div>

      <p class="parrafo-entrenamientoD">La extensión de cuádriceps es sin duda uno de los mejores ejercicios para conseguirlo.
        Este ejercicio, es esencial en cualquier rutina de fuerza, no solo aporta tono muscular , sino que tambien mejora nuestra estabilidad y
      capacidad funcional. No importa si eres un novato en el gimnasio o un veterano con años de entrenamiento, en las siguientes líneas,
      descubriremos cómo incorporarlo en tu rutina. ¿Preparado? ¡Vamos allá!</p>

      <iframe width="95%" height="515" src="https://www.youtube.com/embed/JfvZ1mXkU7U?si=i0yXHKECVK-IXKzP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <div class="btn-asistence" id="femoral">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff; width: 90%; margin-top: 50px;">
          <p class="txt_btn_footer">Extensión femoral</p>
        </button>
      </div>

      <p class="parrafo-entrenamientoD">La extensión de cuádriceps es sin duda uno de los mejores ejercicios para conseguirlo.
        Este ejercicio, es esencial en cualquier rutina de fuerza, no solo aporta tono muscular , sino que tambien mejora nuestra estabilidad y
      capacidad funcional. No importa si eres un novato en el gimnasio o un veterano con años de entrenamiento, en las siguientes líneas,
      descubriremos cómo incorporarlo en tu rutina. ¿Preparado? ¡Vamos allá!</p>

      <iframe width="95%" height="515" src="https://www.youtube.com/embed/H_ADCsf0JOw?si=DoX-OKfxwOS5yXUO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <div class="btn-asistence" id="tibial">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff; width: 90%; margin-top: 50px;">
          <p class="txt_btn_footer">Tibial Anterior</p>
        </button>
      </div>

      <p class="parrafo-entrenamientoD">La extensión de cuádriceps es sin duda uno de los mejores ejercicios para conseguirlo.
        Este ejercicio, es esencial en cualquier rutina de fuerza, no solo aporta tono muscular , sino que tambien mejora nuestra estabilidad y
      capacidad funcional. No importa si eres un novato en el gimnasio o un veterano con años de entrenamiento, en las siguientes líneas,
      descubriremos cómo incorporarlo en tu rutina. ¿Preparado? ¡Vamos allá!</p>

      <iframe width="95%" height="515" src="https://www.youtube.com/embed/lhrvcSgG9Ak?si=MzcYJW2RhVOxR7jA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <div class="btn-asistence" id="pantorrilla">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff; width: 90%; margin-top: 50px;">
          <p class="txt_btn_footer">Pantorrilla</p>
        </button>
      </div>

      <p class="parrafo-entrenamientoD">La extensión de cuádriceps es sin duda uno de los mejores ejercicios para conseguirlo.
        Este ejercicio, es esencial en cualquier rutina de fuerza, no solo aporta tono muscular , sino que tambien mejora nuestra estabilidad y
      capacidad funcional. No importa si eres un novato en el gimnasio o un veterano con años de entrenamiento, en las siguientes líneas,
      descubriremos cómo incorporarlo en tu rutina. ¿Preparado? ¡Vamos allá!</p>

      <iframe width="95%" height="515" src="https://www.youtube.com/embed/qdogJJnXEmU?si=W7meQ9SnWOYubJh3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      <div class="btn-asistence" id="gluteos">
        <button class="btn" mat-raised-button style="background: #F9A640; color: #ffffff; width: 90%; margin-top: 50px;">
          <p class="txt_btn_footer">Gluteos</p>
        </button>
      </div>

      <p class="parrafo-entrenamientoD">La extensión de cuádriceps es sin duda uno de los mejores ejercicios para conseguirlo.
        Este ejercicio, es esencial en cualquier rutina de fuerza, no solo aporta tono muscular , sino que tambien mejora nuestra estabilidad y
      capacidad funcional. No importa si eres un novato en el gimnasio o un veterano con años de entrenamiento, en las siguientes líneas,
      descubriremos cómo incorporarlo en tu rutina. ¿Preparado? ¡Vamos allá!</p>

      <iframe style="margin-bottom: 50px;" width="95%" height="515" src="https://www.youtube.com/embed/76M7YZe0dgI?si=4dX1QQRFuQKq3QSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  </div>
</div>

<!-- COMPONENTE FOOTER -->
<app-footer></app-footer>
